@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
  --font-Russo: "Russo One", sans-serif;
  --radicalGradient-pattern: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  --gradient-label: rgb(208, 252, 252);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin paragraph($font-weight, $font-size) {
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin border($background-color) {
  border: 1px solid black;
  background-color: $background-color;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  padding: 1rem 4rem;
}

.grid-background {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  z-index: -10;
  &:before {
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }

  &:after {
    content: "";
    background-image: url("./assets/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
  }

  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: var(--radicalGradient-pattern);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }
}

// textarea

.textarea-content {
  @include flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 1rem auto 2rem;
  padding: 0 2rem;
  
  textarea {
    width: 100%;
    min-height: 200px;
    background: rgba(252, 252, 252, 0.526);
  }
}

.label-content {
  @include border(var(--gradient-label));
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 0.3rem 1rem;

  .label-start {
    display: flex;
    justify-content: start;
    gap: 10px;
    label {
      @include paragraph(400, 16px);
      font-family: var(--font-Russo);
    }
  }

  .btn-popUp {
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      color: rgb(100, 100, 100);
    }
  }
  .hidden {
    display: none
  }
}



// preview
.preview-content {
  @include flex();
  align-items: center;
  @include border(white);
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

